*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display:flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
 }

h2 {
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    /*background-color: rgba(255, 255, 255, 100);*/
 }

 .fixed-banner p {
    font-size: 45px;
    text-align: center;
    vertical-align: middle;
 }

a {
    color: inherit;
    text-decoration: none;
}

.about-me {
    display: flex;
}

.topnavbar {
   background-color: rgb(37, 37, 37); 
   overflow: hidden;
   color: white;
   text-decoration: none;

}
.topnavbar a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnavbar a:hover {
    color: rgb(139, 190, 241);
    text-decoration: none;
}

.fixed-banner{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding: 0px 20px;
    background-image: url(./Images/mountains-bg-image-edit.jpg);
    background-size: cover;

}
.portfolio-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;   
    align-items: stretch;
    margin: 1% 0;
}

.portfolio-container > h3 {
    flex: 0 0 20%;
    text-align: left;
    font-size: 4vw;
}

.portfolio-container > div {
    flex: 0 0 70%;
}

.portfolio-container > p {
    text-align: right;
    flex: 0 0 70%;
}
.box-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-box {
    border: 1px solid black;
    border-radius: 30%x;
    width: 300px;
    height: 250px;
    
}

.portfolio-box img {
    width: 300px;
    height: 250px;
    background-size: cover;
    border-radius: 30%;
}

.portfolio-box h3 {
    justify-content: center;
}


/*#about-me {
    background-color: rgb(37, 37, 37); 
    color: white;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding: 0px 20px;

}*/

#portfolio {
    background-color: rgb(37, 37, 37); 
    color: white;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding: 0px 20px;
}

.company {
    background-image: url("../Assests/Images/companywebsite.jpg");
    border-radius: 20%;
    background-size: cover;
}

.app {
    background-image: url("../Assests/Images/web-app.png");
    border-radius: 20%;
    background-size: cover;
}

.creative {
    background-image: url("../Assests/Images/web-development-team.png");
    border-radius: 20%;
    background-size: cover;
}

.mepicture {
    border-radius: 20%;
    background-size: cover;
    width: 150px;
    height: 175px;
}
#contact {
    background-color: rgb(37, 37, 37); 
    color: white;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding: 0px 20px;
}

